*{
    margin: 0;
    padding: 0;
}
.N{
    position: absolute;
    top: 20px;
    right: 50%;
    
}
.S{
    position: absolute;
    bottom: 20px;
    right: 50%;
}
.E{
    position: absolute;
    right: 20px;
    top: 50%;

}
.W{
    position: absolute;
    left: 20px;
    top: 50%;
}
p{
    font-size: 50px;
}
.th{
    height: 300px;
    width: 20px;
    background-color: black;
    position: absolute;
    right:720px;
    bottom: 150px;
    transition: transform 0.5s, border-color 0.4s ;
}
.triangle{
    position: relative;
    bottom:50px;
    right: 40px;
    height: 0px;
    width: 0px;
    border-bottom: 80px solid black;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}
.th:active{
    transform: scale(0.9) rotate(360deg) ;
    background-color: red;
}
