*{
padding: 0%;
margin: 0%;

}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px groove gray;
    
    
  }
  
  th, td {
    
    padding: 8px;
    text-align: left;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 100px;
    

    
  }
  
  