body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

}
.animation{
    width: 300px;
    height: 300px;
    background-color: black;
    border: none;
    border-radius: 50%;

    animation-name: AniMation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes AniMation {
    0%{
        background-color: blue;
        border-radius: 40%;
    }
    25%{
        background-color: brown;
        border-radius: 30%;
    }
    50%{
        background-color: aqua;
        border-radius: 20%;

    }
    75%{
        background-color: chocolate;
        border-radius: 10%;
    }
    100%{
        background-color: red;
        border-radius: 0%;
        transform: scale(1.5);
    }
}
