body{ 
    background-color:hsl(204, 43%, 93%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
main{
    height: 400px;
    width: 500px;
    display: grid;
    grid-template-columns: 500px ;
    
    
    grid-template-rows: 200px 200px;
    justify-content: space-evenly;
    align-items: center;
    
    border: 2px solid white;

}
.Div0{
    background-color: white;
    justify-content: space-evenly;
}
.Div1{
    background-color: hsl(186, 71%, 50%);
    justify-content: space-evenly;
}
.Div3{
    background-color: aqua;
    justify-content: space-evenly;
}

